<h1><center><%= t('name_application') %></center></h1>
<h2><center><strong><%= l(Date.today)%></strong></center></h2>
<h2> <%= t('welcome') %> </h2>
<p><%= t('language') %> <strong><%= locale%></strong></p>
<p><%= t('enviroment')%> <strong><%= ambiente_rails %></strong></p>

<%= render "menu"%>

    


